.contacts-sec {
    color: #2C3E50;
    padding: 50px;
}

.contacts-sec .star {
    padding-bottom: 30px;
    color: #2C3E50;
}

.input-sec {
    width: 60%;
    margin: auto;
}

.contacts-sec .line-1,
.contacts-sec .line-2 {
    margin-top: 5px;
    background-color: #2C3E50;
}

button {
    background-color: #1ABC9C !important;
}